body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding-top: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    height: 30px;
}

button:hover {
    background-color: #2196F3;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4c9baf;
    color: white;
}

button.edit, button.delete {
    padding: 8px;
    margin-right: 5px;
}

button.edit {
    background-color: #2196F3;
    width: 55px;
}

button.delete {
    background-color: #f44336;
    width: 75px;
}